<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand">Anywhere News</a>

  <%= form_tag topic_path, :method => 'POST' do %>
  <div class="form-inline">
  	<%= text_field_tag 'topic', nil, placeholder: "Search news", class: "form-control mr-sm-2" %>
  	<%= submit_tag 'Search', id: 'topic_submit', class: 'btn btn-outline-success my-2 my-sm-0' %>
  <% end %>
  </div>

<%= form_with scope: :search, id: 'myform', url: searches_path, local: true do |form| %>
<div style="right: -1000px; position: absolute;">
  <p>
    <%= form.label :search_term %><br>
    <%= form.text_area :search_term %>
  </p> 
  <p>
    <%= form.submit id: 'linkid' %>
  </p>
<% end %>
</div>

<script>
	// autofill second search form
	var topic_input = document.getElementById("topic");
	var search_input = document.getElementById("search_search_term");
	topic_input.onblur=function FillSearch() {
	  search_input.value = topic_input.value;
	};
	// autosubmit second search form
	var topic_submit = document.getElementById("topic_submit");
	topic_submit.onmousedown=function ghostsubmit() {
	  document.getElementById("myform").submit();
	};

</script>

<script>
	// submit second form by ajax
    // $(function() {
    //     $("#myform").on("submit", function(e) {
    //         e.preventDefault();
    //         $.ajax({
    //             url: $(this).attr("action"),
    //             type: 'POST',
    //             data: $(this).serialize()
    //         });
    //     });
    // });
</script>


</nav>