<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand">Anywhere News</a>

  <%= form_tag topic_path, :method => 'POST' do %>
  <div class="form-inline">
  	<%= text_field_tag 'topic', nil, placeholder: "Search news", class: "form-control mr-sm-2" %>
  	<%= submit_tag 'Search', id: 'topic_submit', class: 'btn btn-outline-success my-2 my-sm-0' %>
  <% end %>
  </div>

<%= form_with scope: :search, id: 'myform', url: searches_path, local: true do |form| %>
  <p>
    <%= form.label :search_term %><br>
    <%= form.text_area :search_term %>
  </p> 
  <p>
    <%= form.submit id: 'linkid' %>
  </p>
<% end %>


</nav>